.cnTextArea {
    box-sizing: border-box;
    border: none;
    background-color: #fff;
    padding: 10px;
    outline: none;
    resize: none;
    width: 80%;
}

.cnTextAreaWrapper {
    position: relative;
    background: #fff;
}

.cnSendButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
}