.cnCardRoot {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.cnCardRoot:hover .cnCardHover {
    display: flex;
}

.cnCardRoot:hover .cnCardIcons {
    display: flex;
}

.cnCardImage {
    width: 300px;
    height: 300px;
}

.cnCardImage img {
    object-fit: cover;
    border-radius: 10px;
}

.cnCardHover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background-color: #000;
    opacity: .4;
    border-radius: 10px;
}

.cnCardIcons {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cnCardIcon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.cnCardNumber {
    margin-left: 5px;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
}

.cnCardLikes {
    margin-right: 10px;
}