.cnNavbarRoot {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
}

.cnNavbarWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1080px;
    margin: auto;
}

.cnNavbarLink {
    text-decoration: none;
    color: #000;
}