.cnUserPageRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.cnUserPageRootContent {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-left: 10px;
    width: 930px;
}

.cnUserPageCard {
    margin-bottom: 10px;
    margin-right: 10px;
}

.cnUserPageScrool {
    display: flex;
    flex-wrap: wrap;
}

.cnInput {
    margin-bottom: 21px;
}


.cnUserPageNoPosts {
    margin: auto;
    font-weight: 600;
    font-size: 30px;
}